@page
@model School.UI.Pages.IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ученики</title>
    <link rel="stylesheet" href="~/Site.css" />

    <script src="~/StudentJQ.js"></script>

</head>
<body>

    <h2>Список учеников</h2>


    <div class="col-lg-12">
        <form name="searchingStudentForm" id="searchingStudentForm">

            <h2>Поиск:</h2>
            <h4>Пол:</h4>

            <input name="sex" type="radio" value="женский" />
            <span>Женщины</span> <br />
            <input name="sex" type="radio" value="мужской" />
            <span>Мужчины</span> <br />
            <input checked="checked" name="sex" type="radio" value="все" />
            <span>Все</span><br />



            <h4>Класс:</h4>
            <input type="text" name="schoolClass" /><br /><br />
            <input class="btn btn-success searchStudent form-control" type="submit" value="Поиск" /><br /><br />
        </form>

    </div>




    <div class="col-lg-12">
        <div id="boxes">
            <div id="dialog" class="window">
                <h2>Ученик</h2><br /><br />
                <form name="createStudentForm" id="createStudentForm">
                    <input type="hidden" name="id" value="0" />

                    <input name="name" type="text" placeholder="Имя"><br /><br />
                    <input name="middleName" type="text" placeholder="Отчество"><br /><br />
                    <input name="surName" type="text" placeholder="Фамилия"><br /><br />
                    <input name="sex" type="text" placeholder="Пол"><br /><br />
                    <select style="text-align:center;" id="ClassesDropdown" name="schoolClassId"></select> <br /><br />

                    <button type="submit" class="btn studentsend btn-sm btn-primary">Сохранить</button>
                    <a id="reset" class="btn btn-sm btn-primary">Сбросить</a>


                </form>
                <span><a href="#" class="close">Закрыть его</a></span>
            </div>
            <div id="mask"></div>
        </div>
        <a href="#dialog" name="modal" class=" btnstudentcreate open-modal-btn btn btn-success">Добавить ученика</a><br /><br />

    </div>
    <div class="cnt col-lg-12">



        <br />
        <table class="table table-condensed col-lg-12 table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Фамилия</th>
                    <th>Пол</th>
                    <th>Класс</th>
                    <th>Администрирование  </th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>

    </div>
</body>

</html>