@page
@{
    ViewData["Title"] = "SchoolClasses";
    Layout = "~/Pages/_Layout.cshtml";
}
    
    


    <script src="~/ClassesJQ.js"></script>

    <h1>Список Классов</h1>
  
    <table class="table table-condensed col-lg-12 table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Количество учеников</th>
          
            </tr>
        </thead>
        <tbody></tbody>

    </table>
