@page

@{
    ViewData["Title"] = "Stat";
    Layout = "~/Pages/_Layout.cshtml";
}

    <script src="~/StatJQ.js"></script>



    <h1>Топ 3 учителей</h1>

    <table class="table table-condensed col-lg-6 table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Фамилия</th>
                <th>Должность</th>
                <th>Количество учеников</th>
               
            </tr>
        </thead>
        <tbody></tbody>

    </table>

