@page
@{
    ViewData["Title"] = "Teachers";
    Layout = "~/Pages/_Layout.cshtml";
}
<head>
    <link href="~/Site.css" rel="stylesheet">
</head>

<body>
    <h2>Teachesdrs</h2>
    <h1>sdsdsd</h1>
</body>
