body {

 
    background-color:#ceecfa;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
    
}

input,
select,
textarea {
    max-width: 280px;
}
.cnt{
    
    padding:0px;
}

.dropdownlist{
text-align:center;
}

a:hover {
    color: #ccc;
    text-decoration: none
}

#mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
    font-family: Verdana;
}

#boxes .window {
    position: absolute;
    height: 700px;
    width: 600px;
    display: none;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

#boxes #dialog {
    width: 450px;
    height: 703px;
    padding: 10px;
    background-color: #ffffff;
}

.close {
    float: right;
    /*margin-top: 148px;*/
}

.searchStudent {
    text-align: center;
}
input {
    cursor: pointer;
}
.removeLink {
    cursor: pointer;
}
.editLink {
    cursor: pointer;
}
